body {
  padding-top: 5px;
  font-family: Arial;
  background-color: bisque;
  margin: auto;
  text-align: center;
  display: block;
  width: 256px;
}

p {
  display: block;
  font-size: 10px;
  color: black;
  display: block;
  margin: 5px;
}

h2 {
  display: block;
  font-size: 15px;
  color: black;
  display: block;
  margin: 5px;
}

br {   content: "A" !important;
    display: block !important;
    margin-bottom: 1.5em !important;
}

#cookieNumbers {
  display: block;
  margin: auto;
  text-align:center;
  padding-top: 20px;
  margin-bottom: 5px;
  font-size: 10px;
  border:5px solid;
  border-radius:5px;
  background-color:white;
  height:25px;    
}

#cookieTitle {
  display: block;
  margin: auto;
  text-align:center;
  padding-top: 5px;
  margin-bottom: 5px;
  font-size: 10px;
  border:5px solid;
  border-radius:5px;
  background-color:lightpink;
  height:25px;    
}