@font-face {
  font-family: 'Nunito';
  src: url('../font/Nunito-Regular.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../font/Nunito-Bold.woff2') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* body {
  padding-top: 5px;
  font-family: Arial;
  background-color: bisque;
  margin: auto;
  text-align: center;
}

p {
  font-size: 10px;
  color: black;
  display: block;
  margin: 5px;
  text-align: left;
}

h2 {
  font-size: 15px;
  color: black;
  display: block;
  margin: 5px;
}

#cookieNumbers {
  margin: auto;
  text-align:center;
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 10px;
  border:2px solid;
  border-radius:5px;
  background-color:white;
  height:15px;
}

#cookieTitle {
  margin: auto;
  text-align:center;
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 10px;
  border:2px solid;
  border-radius:5px;
  background-color:lightpink;
  height:20px;
} */